@import "normalize";
@import "fonts";
@import "rouge-base16-dark.scss";
body {
  padding:0px 0px 20px 0px;
  margin: 0%;
  font:14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#ffffff;
  font-weight: normal;
  background: #000000;
  background-attachment: fixed !important;
  background: linear-gradient(#000000, #252525);
}
div#chat-messages {
    width: 100%;
    height: 80vh;
    margin-bottom: 50px;
    overflow-x: hidden;
    overflow-y: auto;
}
form#chat-form input,
form#chat-form button {
    border: 1px solid #dfdbdb;
    background: none;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 18pt;
    color: white;
    padding: 8px 15px;
}

form#chat-form input {
    width: 40vw;
}

form#chat-form button {
    cursor: pointer;
}

div.message.green {
    color: #95d592;
}

div.message.red {
    color: #d59292;
}

div.message.blue {
    color: #9592d5;
}
h1, h2, h3, h4, h5, h6 {
  color:#00e100;
  margin:0 0 10px;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}
h1, h2, h3 {
  line-height:1.1;
}
h1 {
  font-size:28px;
}
h2 {
  font-size: 24px;
}
h4, h5, h6 {
  color:#e8e8e8;
}
h3 {
  font-size: 18px;
  line-height: 24px;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
  color: #b6b6b6;
}
a {
  color:#00ffc8;
  font-weight:400;
  text-decoration:none;
  &:hover {
    color: #9bfff2;
  }
}
a small {
  font-size:11px;
  color:#666;
  margin-top:-0.6em;
  display:block;
}
ul{
  list-style-image:url('../images/bullet.png');
}
strong {
  font-family: 'OpenSansBold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}
.wrapper {
  max-width:650px;
  margin:0 auto;
  position:relative;
  padding: 0 20px;
}
section img {
  max-width: 100%;
}
blockquote {
  border-left:3px solid #808080;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}
code {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
  color:#efefef;
  font-size:13px;
  margin: 0 4px;
  padding: 4px 6px;
  border-radius: 2px;
}
pre {
  padding:8px 15px;
  background: #191919;
  border-radius: 2px;
  border:1px solid #121212;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
  overflow: auto;
  overflow-y: hidden;
  code {
    color: #efefef;
    text-shadow: 0px 1px 0px #000;
    margin: 0;
    padding: 0;
  }
}
table {
  width:100%;
  border-collapse:collapse;
}
th {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #434343;
  color: #b6b6b6;
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}
td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #434343;
}
hr {
  border: 0;
  outline: none;
  height: 3px;
  background: transparent url('../images/hr.gif') center center repeat-x;
  margin: 0 0 20px;
}
dt {
  color:#d5f0e5;
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}
#header {
  z-index: 100;
  left:0px;
  top: 0px;
  height: 60px;
  margin: auto;
  width: 100%;
  position: fixed;
  background: url(../images/nav-bg.gif) #353535;
  border-bottom: 4px solid #434343;
  box-shadow: 0px 1px 3px rgba(0,0,0,.25);
  nav {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    margin: 6px auto;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        list-style: none;
        display: inline;
        color: white;
        line-height: 50px;
        text-shadow: 0px 1px 0px rgba(0,0,0,.2);
        font-size: 12px;
        a {
          color: white;
          border: 1px solid #5d910b;
          background: linear-gradient(#93bd20, #659e10);
          border-radius: 2px;
          box-shadow: inset 0px 1px 0px rgba(255,255,255,.3), 0px 3px 7px rgba(0,0,0,.7);
          background-color: #93bd20;
          padding: 10px 12px;
          margin-top: 6px;
          line-height:12px;
          font-size:12px;
          display:inline-block;
          text-align:center;
          &:hover {
            background: linear-gradient(#749619, #527f0e);
            background-color: #659e10;
            border: 1px solid #527f0e;
            box-shadow: inset 0px 1px 1px rgba(0,0,0,.2), 0px 1px 0px rgba(0,0,0,.0);
          }
        }
        &.fork {
          float: left;
          margin-left: 0px;
        }
        &.downloads {
          float: right;
          margin-left: 6px;
        }
        &.title {
          float: right;
          margin-right: 10px;
          font-size: 11px;
        }
      }
    }
  }
}
section {
  max-width:650px;
  padding: 30px 0px 50px 0px;
  margin: 20px 0;
  margin-top: 70px;
  #title {
    border: 0;
    outline: none;
    margin: 0 0 50px 0;
    padding: 0 0 5px 0;
    h1 {
      font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      font-size: 40px;
      text-align: center;
      line-height: 36px;
    }
    p {
      color: #d7cfbe;
      font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      font-size: 18px;
      text-align: center;
    }
    .credits {
      font-size: 11px;
      font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      color: #696969;
      margin-top: -10px;
      &.left {
        float: left;
      }
      &.right {
        float: right;
      }
    }
  }
}
@media print, screen and (max-width: 720px) {
  #title {
    .credits {
      display: block;
      width: 100%;
      line-height: 30px;
      text-align: center;
      .left {
        float: none;
        display: block;
      }
      .right {
        float: none;
        display: block;
      }
    }
  }
}
@media print, screen and (max-width: 480px) {
  #header {
    margin-top: -20px;
  }
  section {
    margin-top: 40px;
  }
  nav {
    display: none;
  }
}
.sidebar {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 25;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}
/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}
/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}
/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}
div.gallery:hover {
  border: 1px solid #777;
}
div.gallery img {
  width: 100%;
  height: auto;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.column2 {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 0 50px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  .column2 {
    -ms-flex: 33%;
    flex: 33%;
    max-width: 33%;
    padding: 0 20px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  .column2 {
    -ms-flex: 33%;
    flex: 33%;
    max-width: 33%;
    padding: 0 20px;
  }
}

div.desc {
  padding: 5px;
  text-align: center;
}
/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
