---
---

@import "{{ site.theme }}";

.custom-nav {
  text-align: center;
  margin-top: 2rem;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: inline-flex;
  gap: 1.5rem; /* space between buttons */
}

.nav-links li a {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 6px;
  box-shadow: none;
  border: none;
}


.nav-links li a:hover {
  background-color: #666;
}
